<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>詳細見積もり申し込み完了</title>
  <div th:replace="common/css :: css"></div>
  <meta charset="UTF-8">
</head>

<body>
  <div th:replace="common/header :: header"></div>
  <div class="main container">
    <div class="text-center">
      <div class="page-title">詳細見積もりのお申し込みが完了しました。</div>
      <div class="label">お電話にて正確な見積もり結果をお伝えいたします。</div>
      <div class="form-group">
        <a class="btn btn-back" th:href="@{/}" role="button">TOPへ戻る</a>
      </div>
    </div>
  </div>
  <div th:replace="common/scripts :: scripts"></div>
</body>

</html>
